[
	{
		"text": "if you want to learn coding"
	},
	{
		"text": "start coding using python"
	},
	{
		"text": "coding is easy"
	},
	{
		"text": "hi"
	},
	{
		"text": "hello"
	},
	{
		"text": "follow me for more"
	},
	{
		"text": "getting starting with programming for beginners"
	},
	{
		"text": "getting started with coding for beginners"
	},
	{
		"text": "join us on threads"
	},
	{
		"text": "join us on facebook"
	},
	{
		"text": "join us on instagram"
	},
	{
		"text": "join us on snapchat"
	},
	{
		"text": "100 days of coding"
	},
	{
		"text": "#100daysofcoding"
	},
	{
		"text": "fuck you",
		"category": "swearing",
		"notify": true
	},
	{
		"text": "let's connect",
	},
	{
		"text": "lets connect",
	},
	{
		"text": "let's conect",
	},
	{
		"text": ".",
	},
	{
		"text": "Why?",
	},
	{
		"text": "Why",
	},
	{
		"text": "#100DaysOfCode"
	}
]
